.notes-container{
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #5E5E5E 100%) 0% 0% no-repeat padding-box;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 15% 15% 70%;
}

.search-bar {
    width: 70%;
    padding: 2em;
    justify-self: center;
}

.search-bar > input {
    background: #CDCDCD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div>a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover{
    opacity: 0.5;
}