.notes-container{
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #5E5E5E 100%) 0% 0% no-repeat padding-box;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 15% 15% 60% 10%;
}

.search-bar {
    width: 70%;
    padding: 2em;
    justify-self: center;
    display: grid;
    grid-template-columns: 10% 90%;
}

.search-bar > input {
    background: #CDCDCD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    height: 50%;
    text-align: center;
    letter-spacing: 0.72px;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
}

section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section>div>a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover{
    opacity: 0.5;
}

.new-note-button{
    background: transparent linear-gradient(180deg, #EC6410 0%, #763208 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 10px 10px #00000029;
    opacity: 0.8;
    border-radius: 50%;
    width: 2em;
    justify-self: end;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 250%;
    color: darkgray;
    font-weight: 1000;
}

 .fa-user:before {
     content: "\f007";
     font-size: 1000%;
 }

.fa-undo-alt:before {
    content: "\f2ea";
    font-size: 400%;
    color: black;
}

@media only screen and (max-device-width: 420px){

    section{
        grid-template-columns: none;
    }

    .search-bar{
        width: 90%;
    }

    .fa-undo-alt:before {
        font-size: 200%;
    }

    .new-note-button{
        width: 1.5em;
    }
}