body{
    margin: 0;
}

header{
    height: 100%;
    background: transparent linear-gradient(180deg, #19181A 0%, #656466 100%) 0% 0% no-repeat padding-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #19181A 0%, #656466 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-container{
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #5E5E5E 100%) 0% 0% no-repeat padding-box;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.logo{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-container{
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

button, .button {
    background: transparent linear-gradient(180deg, #EC6410 0%, #763208 100%) 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 10px 10px #00000029;
    opacity: 0.8;
    border-radius: 25px;

    width: 15%;
    border: none;
    color: #A9A8A9;
    margin: 1em;
    line-height: 3.5em;
    text-decoration: none;
    text-align: center;
}

button:hover{
    opacity: 1;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #A8A7A8;
    padding: 1em;
    margin: 1em;
    width: 20%;
}

.main_page_logo{
    width: 30%;
    height: 100%;
    margin-left: 2vw;
    display: flex;
    align-items: center;
}

.main_page_profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 15%;
    height: 100%;
}

.main_page_profile > img{
    margin: 1vh 2vw;
}

.menu-container{
    
    /* background: transparent linear-gradient(180deg, #19181A 0%, #656466 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 37px;
    opacity: 0.9; */

    grid-row: 3/5;
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;

}

.new-session-container{
    background: transparent linear-gradient(180deg, #19181A 0%, #656466 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 37px;
    opacity: 0.9;
    grid-column: 2;
    text-decoration: none;
}

.new-notes-container{
    background: transparent linear-gradient(180deg, #19181A 0%, #656466 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 37px;
    opacity: 0.9;
    grid-column: 4;
    text-decoration: none;
}


@media only screen and (max-device-width: 420px) {
    
    input{
        width: auto;
    }
    button{
        width: 50%;
    }

    .main_page_logo{
        width: 50%;
    }

}